<div class="container-fluid p-0 auth-container">
  <div class="row justify-content-end m-0">
    <div class="col-sm-5 p-0">
      <div class="auth-form">
        <img class="auth-logo" src="assets/images/logoevo3.jpg" alt="">
        <tabset>
          <tab heading="Log In">
            <form [formGroup]="form" (submit)="loginUser($event)">
              <p *ngIf="validText" class="text-danger mb-2"><b>Invalid username or password</b></p>
              <div class="form-group mb-4">
                <input type="email" class="form-control" name="email" placeholder="email" required="required"
                  formControlName="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password" required="required"
                  formControlName="password">

                <button type="submit" class="field-icon">
                  <img class="img-icon" src="assets/icons/circle-arrow-right.svg" alt="">
                </button>
              </div>
              <small class="d-block text-right mt-2" (click)="forget()"><a href="">forgot password</a></small>
            </form>
          </tab>
          <!-- <tab heading="Sign Up">
            <form>
              <div class="form-group mb-4">
                <input type="email" class="form-control" name="email" placeholder="email" required="required">
              </div>
              <div class="form-group mb-4">
                <input type="password" class="form-control" name="password" placeholder="password" required="required">
              </div>
              <div class="form-group mb-4">
                <input type="password" class="form-control" name="verifypassword" placeholder="verify password"
                  required="required">
              </div>
              <div class="form-group mb-4">
                <input type="password" class="form-control" name="username" placeholder="username" required="required">
                <button type="submit" class="field-icon">
                  <img class="img-icon" src="assets/icons/circle-arrow-right.svg" alt="">
                </button>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  <small>I accept the <b>terms &amp; conditions</b></small>
                </label>
              </div>

            </form>
          </tab> -->
        </tabset>
        <div class="aerodyne-footer">
            <img src="assets/images/Evoteq5.png" alt="aerodyne-logo" style="margin: 12px 40px 0px 40px;">
          <img src="assets/images/aerodyne_outline_black8.png" alt="aerodyne-logo" style="margin: 0 40px 0px 40px;" >
          <p class="mt-2"><b>&copy; 2020 powered by Evoteq and Aerodyne. All rights reserved.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
